.wrapper {
  position: relative;
  border:1px solid #000000;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: relative;
  background-color: beige;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
}

#submitSignatureButton {
    visibility: hidden;
}